.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Box {
  border: solid 1px #999;
  border-radius: 6px;
  width: 345px;
  margin: auto;
  padding: 15px 15px 6px 15px;
  box-shadow: 0 0 3px #999;
  position: relative;
}

.Sect1 {
  margin-bottom: 6px;
}

.Divider {
  border-bottom: solid 1px #999;
  margin: auto;
}

.MoreDropdownContainer {
  background-color: white;
  border: solid 1px #999;
  border-radius: 6px;
  box-shadow: 0 0 6px #ccc;
  width: 190px;
  position: absolute;
  right: 4px;
  top: 27px;
}

.MoreDropdown {
  background: url('./assets/delete.svg') no-repeat center left 15px;
  background-size: 20px;
  font-size: 14px;
  color: #7f7f7f;
  font-weight: 450;
  padding: 14px 38px 14px 44px;
}

.Sect2 {
  margin-top: 10px;
}

.List {
  border-bottom: solid 1px #ccc;
  padding: 13px 10px 13px 6px;
  font-weight: bold;
  font-size: 14px;
}

.InputSearch {
  width: 100%;
  margin: 10px 0;
  padding: 4px 6px;
  border: solid 1.5px #ccc;
  font-size: 14px;
  border-radius: 4px;
}

.InputSearch:focus {
  border-color: aqua;
  outline: none;
}

.Buttons {
  width: fit-content;
  margin-left: auto;
  display: flex;
}

.Buttons button {
  border: none;
  border-radius: 8px;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 600;
}

.ButtonCreate {
  background-color: #e4e4e4;
  color: #7f7f7f;
}

.ButtonCancel {
  background: none;
  color: aqua;
}

.Footer {
  color: #ccc;
  margin: 20px auto 0px;
  font-size: 10px;
  width: fit-content;
}