.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App div {
  cursor: default;
}

.Box {
  border: solid 1px #999;
  border-radius: 6px;
  width: 345px;
  margin: auto;
  padding: 15px 15px 6px 15px;
  box-shadow: 0 0 3px #999;
  position: relative;
}

.Sect1 {
  margin-bottom: 6px;
}

.Divider {
  border-bottom: solid 1px #999;
  margin: auto;
}

.MoreDropdownContainer {
  background-color: white;
  border: solid 1px #999;
  border-radius: 6px;
  box-shadow: 0 0 6px #ccc;
  width: 190px;
  position: absolute;
  right: 4px;
  top: 27px;
  z-index: 1;
}

.MoreDropdown {
  background: url('./assets/delete.svg') no-repeat center left 15px;
  background-size: 20px;
  font-size: 14px;
  color: #7f7f7f;
  font-weight: 450;
  padding: 14px 38px 14px 44px;
}

.ChildMoreDropdownContainer {
  background-color: white;
  border: solid 1px #999;
  border-radius: 6px;
  box-shadow: 0 0 6px #ccc;
  width: 150px;
  padding: 6px;
  position: absolute;
  right: -6px;
  top: 30px;
  z-index: 1;
}

.ChildMoreDropdown {
  font-size: 14px;
  color: #7f7f7f;
  font-weight: 450;
  padding: 8px 24px 8px 36px;
  text-align: left;
  border-radius: 6px;
}

#EditIcon {
  background: url('./assets/edit.svg') no-repeat center left 11px;
  background-size: 20px;
}

#DeleteIcon {
  background: url('./assets/delete.svg') no-repeat center left 11px;
  background-size: 20px;
}

#EditIcon:hover {
  background-color: #f0f0f0;
}

#DeleteIcon:hover {
  background-color: #f0f0f0;
}

.ButtonsEdit {
  width: fit-content;
  position: absolute;
  right: 0;
  top: 36px;
}

.EditDiv {
  line-height: 1;
  padding: 6px;
  border: solid 1px #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 2px 2px #e5e5e5;
  background-color: #f8f8f8;
}

.EditDiv:hover,
.EditDiv:focus {
  background-color: #f0f0f0;
  outline: none;
}

.Sect2 {
  margin-top: 10px;
  min-height: 25px;
}

.List {
  border-bottom: solid 1px #ccc;
  padding: 13px 10px 13px 6px;
  font-weight: bold;
  font-size: 14px;
}

.InputDiv {
  margin: 10px 0;
}

.InputSearch {
  width: 100%;
  padding: 4px 6px;
  border: solid 1.5px #ccc;
  font-size: 14px;
  border-radius: 4px;
}

.InputSearchEdit {
  width: 100%;
  padding: 4px 6px;
  border: solid 1.5px #ccc;
  font-size: 14px;
  border-radius: 4px;
}

.InputSearch:focus,
.InputSearchEdit {
  border-color: aqua;
  outline: none;
}

.Error {
  width: fit-content;
  font-size: 14px;
  margin: 2px 0px 0px 4px;
}

.EditSect {
  width: 80%;
  position: relative;
}

.Buttons {
  width: fit-content;
  margin-left: auto;
  display: flex;
}

.Buttons button {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 600;
}

.ButtonCreate {
  background-color: #e4e4e4;
  color: #7f7f7f;
}

.ButtonCancel {
  background: none;
  color: aqua;
}

.ButtonCreate:hover,
.ButtonCancel:hover,
.ButtonCreate:focus,
.ButtonCancel:focus {
  background-color: #50ffff;
  color: #7f7f7f;
}

.Footer {
  color: #ccc;
  margin: 20px auto 0px;
  font-size: 10px;
  width: fit-content;
}

.Cursor-pointer {
  cursor: pointer !important;
}